@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
@layer components {
  .wrapper {
    max-width: 1375px;
    @apply container mx-auto px-2;
  }
  .default-gradient {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15),
      inset 0 2px 0 rgba(255, 255, 255, 0.35);
    background-color: #66b413;
    border: 1px solid #071800;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15),
      inset 0 2px 0 rgba(255, 255, 255, 0.35);
  }
  .secondary-gradient {
    background-color: #ff6392;
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.26);
  }
  .mint-button {
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.26);
  }

  .mint-background {
    backkground-color: #ffe45e;
    box-shadow: 0 3px 49px rgba(0, 0, 0, 0.38);
  }

  .space {
    @apply my-9;
  }
  .roadmap__lists li::before {
    content: " ";
    background: #feeb8b;
    border-radius: 100px;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
    width: 15px;
    height: 15px;
  }
  .story::before {
    content: "";
    background-color: #a5f056;
    width: 2px;
    height: 23px;
    position: absolute;
    left: -17px;
    display: inline-block;
    top: 5px;
  }

  .why_mint__border::before {
    content: "";
    background-color: #a3ee54;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    top: 0;
    display: inline-block;
  }
  .giveaway::before {
    content: "";
    background-color: #a3ee54;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    top: 0;
    display: inline-block;
  }
  .quote::before {
    content: "";
    background-color: #ff6392;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -8px;
    display: inline-block;
    top: 0;
  }
  .team__before::before {
    content: "";
    background-color: #ff6392;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    display: inline-block;
    top: 0;
  }
  .footer__a {
    position: relative;
  }
  .footer__a::after {
    content: " ";
    background-color: #02182a;
    width: 2px;
    height: 100%;
    position: absolute;
    right: -8px;
    display: inline-block;
    top: 0;
  }

  @media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .why_mint__border {
      left: 0.25rem !important;
    }
    .why_mint__border::before {
      left: -10px;
    }
    .roadmap-1 {
      right: -2px;
      top: 50px;
      width: 35% !important;
    }

    .roadmap-1 h2 {
      font-size: 16px;
    }
    .roadmap-1 ul li {
      font-size: 8px;
      padding: 0;
    }
    .roadmap-2 {
      left: 0rem;
      top: 107px;
      width: 32% !important;
    }
    .roadmap-2 h2 {
      font-size: 15px;
    }
    .roadmap-2 ul li {
      font-size: 8px;
      padding: 0;
    }

    .roadmap-3 {
      right: 0px;
      top: 220px;
      width: 35% !important;
    }
    .roadmap-3 h2 {
      font-size: 16px;
    }
    .roadmap-3 ul li {
      font-size: 8px;
    }
  }

  @media screen and (min-device-width: 321px) and (max-device-width: 424px) {
    .roadmap-3 {
      right: 0px;
      top: 220px !important;
      width: 35% !important;
    }
  }

  @media screen and (min-device-width: 325px) and (max-device-width: 424px) {
    .roadmap-2 {
      top: 110px !important;
    }
    .roadmap-3 {
      right: 0px;
      top: 240px !important;
      width: 35% !important;
    }
  }
  @media screen and (min-device-width: 325px) and (max-device-width: 424px) {
    .roadmap-2 {
      top: 30% !important;
    }
    .roadmap-3 {
      right: 0px;
      top: 65% !important;
      width: 35% !important;
    }
  }
  @media screen and (min-device-width: 425px) and (max-device-width: 600px) {
    .roadmap-1 h2 {
      font-size: 16px;
    }
    .roadmap-1 ul li {
      font-size: 8px;
      padding: 0;
    }
    .roadmap-2 {
      left: 0rem;
      top: 140px;
      width: 30% !important;
    }
    .roadmap-2 h2 {
      font-size: 16px;
    }
    .roadmap-2 ul li {
      font-size: 8px;
      padding: 0;
    }

    .roadmap-3 {
      right: 0px;
      top: 205px !important;
      width: 35% !important;
    }
    .roadmap-3 h2 {
      font-size: 16px;
    }
    .roadmap-3 ul li {
      font-size: 8px;
    }
  }
  @media screen and (min-device-width: 601px) and (max-device-width: 639px) {
    .roadmap-1 {
      right: -2px;
      top: 55px;
      width: 35% !important;
    }

    .roadmap-1 h2 {
      font-size: 16px;
    }
    .roadmap-1 ul li {
      font-size: 8px;
      padding: 0;
    }
    .roadmap-2 {
      left: 0rem;
      top: 137px;
      width: 34% !important;
    }
    .roadmap-2 h2 {
      font-size: 15px;
    }
    .roadmap-2 ul li {
      font-size: 8px;
      padding: 0;
    }

    .roadmap-3 {
      right: 0px;
      top: 205px;
      width: 35% !important;
    }
    .roadmap-3 h2 {
      font-size: 16px;
    }
    .roadmap-3 ul li {
      font-size: 8px;
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .footer__a::after {
      display: none;
    }
    .mint__counts {
      @apply text-4xl !important pt-7;
    }
  }
}
progress.mint-progress[value] {
  height: 9px;
  -webkit-appearance: none;
  appearance: none;
  flex: 1;
}
progress.mint-progress {
  flex: 1;
  height: 9px;
}

progress.mint-progress[value]::-webkit-progress-bar {
  background-color: #565555;
}
progress.mint-progress[value]::-moz-progress-bar {
  background-color: #565555;
}

progress.mint-progress[value]::-webkit-progress-value {
  background-color: #ff6392;
}
progress.mint-progress[value]::-moz-progress-value {
  background-color: #ff6392;
}
