@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    max-width: 1375px;
    @apply container mx-auto px-4;
  }
  .default-gradient {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15),
      inset 0 2px 0 rgba(255, 255, 255, 0.35);
    background-color: #66b413;
    border: 1px solid #071800;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15),
      inset 0 2px 0 rgba(255, 255, 255, 0.35);
  }
  .secondary-gradient {
    background-color: #ff6392;
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.26);
  }
  .mint-button {
    box-shadow: 0 9px 0 rgba(0, 0, 0, 0.26);
  }

  .mint-background {
    backkground-color: #ffe45e;
    box-shadow: 0 3px 49px rgba(0, 0, 0, 0.38);
  }
  .space {
    @apply my-9;
  }
  .roadmap__lists li::before {
    content: " ";
    background: #feeb8b;
    border-radius: 100px;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
    width: 15px;
    height: 15px;
  }
  .story::before {
    content: "";
    background-color: #a5f056;
    width: 2px;
    height: 23px;
    position: absolute;
    left: -17px;
    display: inline-block;
    top: 5px;
  }

  .why_mint__border::before {
    content: "";
    background-color: #a3ee54;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    top: 0;
    display: inline-block;
  }
  .giveaway::before {
    content: "";
    background-color: #a3ee54;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    top: 0;
    display: inline-block;
  }
  .quote::before {
    content: "";
    background-color: #ff6392;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -8px;
    display: inline-block;
    top: 0;
  }
  .team__before::before {
    content: "";
    background-color: #ff6392;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -17px;
    display: inline-block;
    top: 0;
  }
  @media (max-width: 640px) {
    .roadmap-2 {
      @apply absolute w-1/4;
    }
  }
  @media (max-width: 320px) {
    .roadmap-2 {
    }
  }
}
progress.mint-progress[value] {
  height: 9px;
  -webkit-appearance: none;
  appearance: none;
  flex: 1;
}
progress.mint-progress {
  flex: 1;
  height: 9px;
}

progress.mint-progress[value]::-webkit-progress-bar {
  background-color: #565555;
}
progress.mint-progress[value]::-moz-progress-bar {
  background-color: #565555;
}

progress.mint-progress[value]::-webkit-progress-value {
  background-color: #ff6392;
}
progress.mint-progress[value]::-moz-progress-value {
  background-color: #ff6392;
}
